
h2,h3{
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 50px;
  margin-bottom: 15px;
}

table{
  width: 100%;
  font-style: 'Roboto', sans-serif;
  white-space: nowrap;
}

.tbl-header{
  background-color: #DB6B71;
 }
.tbl-content{
  border: 1px solid #fff;
  background-color: #DB6B71;
}

th{
  padding: 7px 15px;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  color: #fff;
  text-transform: uppercase;
  border-bottom: solid 1px #fff ;
}
td{
  padding: 5px;
  text-align: center;
  vertical-align:middle;
  font-weight: 20px;
  font-size: 11px;
  color: #fff;
  border-bottom: solid 1px #fff ;
}

.table_div,.table-body{
  display:block;
  overflow: auto;
  border: solid 2px #fff;
  border-bottom:  none; 
  border-radius: 5px;
}

/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: #DB6B71;
  font-family: 'Roboto', sans-serif;
}
section{
  margin-right: 80px;
  margin-left: 40px;
  margin-bottom: 40px;
}
